.kurierchikof-rs-withdrawal-funds-from input::-webkit-outer-spin-button,
.kurierchikof-rs-withdrawal-funds-from input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.kurierchikof-rs-withdrawal-funds-from input:hover {
  cursor: pointer;
}

.kurierchikof-rs-withdrawal-funds-from .m-t-25 {
  margin-top: 25px;
}

.kurierchikof-rs-withdrawal-funds-from .m-t-25 {
  margin-top: 25px;
}

/* custom classes */

.kurierchikof-rs-withdrawal-funds-from a,
.kurierchikof-rs-withdrawal-funds-from a:hover {
  text-decoration: none;
}

.kurierchikof-rs-withdrawal-funds-from .custom-font {
  font-family: 'Open Sans', sans-serif !important;
}

/* .kurierchikof-rs-withdrawal-funds-from */

.kurierchikof-rs-withdrawal-funds-from {
  padding-top: 50px;
  padding-bottom: 163px;
  background-color: #f4f8f7;
}

.kurierchikof-rs-withdrawal-funds-from .custom-block-header {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 24px;
  width: 100%;
}

.kurierchikof-rs-withdrawal-funds-from .custom-head {
  font-size: 35px;
  color: rgb(66, 66, 66);
  line-height: 0.571;
  text-align: left;
  margin-top: 0;
}

.kurierchikof-rs-withdrawal-funds-from .custom-nav-link {
  margin-bottom: 0;
  font-size: 13px;
  font-family: 'PT Sans', sans-serif;
  color: rgb(146, 149, 148);
  line-height: 1.538;
  text-align: left;
}

.kurierchikof-rs-withdrawal-funds-from .custom-nav-link,
.kurierchikof-rs-withdrawal-funds-from .custom-nav-link:hover {
  text-decoration: underline !important;
}

.kurierchikof-rs-withdrawal-funds-from .custom-nav-link {
  margin-left: 0;
}

.kurierchikof-rs-withdrawal-funds-from .custom-btn-put {
  font-family: 'PT Sans', sans-serif;
  background-color: #54af3a;
  color: #fff;
  padding: 9px 40px 10px 40px;
  font-size: 13px;
  border: none;
  text-align: center;
  margin-top: 1px;
}

.kurierchikof-rs-withdrawal-funds-from .custom-btn-put:hover {
  color: #fff;
}

.kurierchikof-rs-withdrawal-funds-from .custom-new-card-head,
.kurierchikof-rs-withdrawal-funds-from .custom-enter-sum-head {
  font-size: 14px;
  color: #424242;
  font-weight: normal;
}

.kurierchikof-rs-withdrawal-funds-from .custom-enter-sum {
  width: 100%;
}

.kurierchikof-rs-withdrawal-funds-from .custom-info {
  font-size: 14px;
  color: #929594;
  text-align: left;
  margin-top: 22px;
  margin-bottom: 0;
}

.kurierchikof-rs-withdrawal-funds-from .custom-info:last-child {
  margin-top: 5px;
}

.kurierchikof-rs-withdrawal-funds-from .col {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.kurierchikof-rs-withdrawal-funds-from .custom-withdrawal-funds-info {
  margin-bottom: 0;
  font-size: 14px;
  color: #929594;
  line-height: 1.2;
  margin-bottom: 3px;
}

.kurierchikof-rs-withdrawal-funds-from .custom-withdrawal-funds-info > span {
  color: #424242;
}

.kurierchikof-rs-withdrawal-funds-from .custom-list-info-head {
  font-size: 18px;
  font-family: 'PT Sans', sans-serif;
  color: #424242;
  margin-bottom: 20px;
}

.kurierchikof-rs-withdrawal-funds-from .custom-list-wrapper {
  width: 100%;
}

.kurierchikof-rs-withdrawal-funds-from .custom-list-col {
  padding-left: 15px;
  width: 50%;
}

.kurierchikof-rs-withdrawal-funds-from .custom-list-col:last-child {
  margin-left: 30px;
}

.kurierchikof-rs-withdrawal-funds-from .custom-list-info {
  padding-left: 0;
}

.kurierchikof-rs-withdrawal-funds-from .custom-list-info-item {
  margin-bottom: 15px;
}

/* style fas */

.kurierchikof-rs-withdrawal-funds-from .inner-addon {
  position: relative;
}

.kurierchikof-rs-withdrawal-funds-from .inner-addon .fas {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  color: #929594;
  overflow: hidden;
  z-index: 200;
}

/* align fas */

.kurierchikof-rs-withdrawal-funds-from .left-addon .custom-icon {
  left: 7px;
  top: 3px;
}

/* add padding  */

.kurierchikof-rs-withdrawal-funds-from .left-addon input {
  padding-left: 48px;
}

/* kurierchikof-rs-top-menu */

.kurierchikof-rs-top-menu .no-word-wrap {
  white-space: nowrap;
}

.kurierchikof-rs-top-menu .custom-nav {
  height: 78px;
  box-shadow: 0px 2px 7.6px 0.4px rgba(0, 0, 0, 0.09);
  background-color: #fff;
}

.kurierchikof-rs-top-menu .custom-logo-img {
  transform: rotate(22deg);
  margin-top: -12px;
  margin-left: 6px;
}

.kurierchikof-rs-top-menu .custom-nav-item {
  font-size: 14px;
  color: rgb(146, 149, 148);
  line-height: 2.143;
  text-align: left;
  height: 100%;
}

.kurierchikof-rs-top-menu .custom-nav-link {
  height: 100%;
  display: flex;
  align-items: center;
  border-bottom: 3px solid transparent;
}

.kurierchikof-rs-top-menu .custom-btn-create-order {
  background-color: #fff200;
  font-size: 15px;
  padding: 10px 18px 9px 18px;
}

.kurierchikof-rs-top-menu .custom-btn-cog {
  outline: none;
  border: none;
  background-color: transparent;
  margin-left: 25px;
  margin-right: 15px;
}

.kurierchikof-rs-top-menu .custom-question-icon {
  position: absolute;
  top: -20px;
  right: -1px;
  color: #54af3a;
  font-size: 15px;
  text-shadow: -2px 2px 2px #fff;
}

.kurierchikof-rs-top-menu .custom-fas-wrapper {
  position: relative;
}

.kurierchikof-rs-top-menu .custom-cog-color {
  color: #e0e0e0;
  font-size: 38px;
}

.kurierchikof-rs-top-menu .custom-btn-img {
  border-radius: 50%;
  border: 4px solid #ebebeb;
  width: 44px;
  height: 44px;
  margin-right: 16px;
}

.kurierchikof-rs-top-menu .custom-btn-img > img {
  display: block;
  width: 100%;
  height: auto;
}

.kurierchikof-rs-top-menu .custom-btn-head {
  font-size: 15px;
  color: #424242;
  margin-bottom: 0;
}

.kurierchikof-rs-top-menu .custom-btn-caption {
  font-size: 13px;
}

.kurierchikof-rs-top-menu .custom-nav-btn-link {
  width: 100%;
  height: 100%;
  padding: 0 !important;
}

.kurierchikof-rs-top-menu .custom-nav-btn-link:hover,
.kurierchikof-rs-top-menu .custom-nav-btn-link:focus {
  color: #777 !important;
}

.kurierchikof-rs-top-menu .custom-dropdown {
  width: 225px;
  box-shadow: 0px 2px 7.6px 0.4px rgba(0, 0, 0, 0.09) !important;
  border: none !important;
  padding-left: 15px;
  padding-right: 15px;
}

.kurierchikof-rs-top-menu .custom-dropdown-link {
  font-size: 14px;
  color: #929594 !important;
  line-height: 2.143 !important;
  text-align: left;
  padding-left: 0 !important;
  padding-right: 0 !important;
  transition: color .3s ease-in-out;
}

.kurierchikof-rs-top-menu .custom-dropdown-comment {
  font-size: 13px;
  color: rgb(66, 66, 66);
  line-height: 1.308;
  margin-bottom: 5px;
}

.kurierchikof-rs-top-menu .custom-dropdown-comment:first-child {
  margin-top: 15px;
}

.kurierchikof-rs-top-menu .custom-dropdown-comment:last-child {
  margin-bottom: 15px;
}

.kurierchikof-rs-top-menu .custom-dropdown-bonuce {
  margin-left: 28px;
}

.kurierchikof-rs-top-menu .do-flex,
.kurierchikof-rs-withdrawal-funds-from .do-flex {
  display: flex !important;
}

.kurierchikof-rs-withdrawal-funds-from .do-direction-column,
.kurierchikof-rs-top-menu .do-direction-column {
  flex-direction: column;
}

.kurierchikof-rs-top-menu .do-no-wrap {
  flex-wrap: nowrap;
}

.kurierchikof-rs-withdrawal-funds-from .do-wrap {
  flex-wrap: wrap;
}

.kurierchikof-rs-withdrawal-funds-from .do-justify-space-between {
  justify-content: space-between;
}

.kurierchikof-rs-top-menu .do-justify-end {
  justify-content: flex-end;
}

.kurierchikof-rs-top-menu .do-align-center,
.kurierchikof-rs-withdrawal-funds-from .do-align-center {
  align-items: center;
}

.kurierchikof-rs-top-menu .do-align-start {
  align-items: flex-start;
}

.kurierchikof-rs-withdrawal-funds-from .do-align-end {
  align-items: flex-end;
}

.kurierchikof-rs-top-menu .p-0 {
  padding: 0 !important;
}

.kurierchikof-rs-withdrawal-funds-from .m-t-25 {
  margin-top: 25px;
}

.kurierchikof-rs-withdrawal-funds-from .m-t-33 {
  margin-top: 33px;
}

.kurierchikof-rs-withdrawal-funds-from.m-t-n18 {
  margin-top: -18px;
}

.kurierchikof-rs-withdrawal-funds-from .m-t-25 {
  margin-top: 25px;
}

.kurierchikof-rs-withdrawal-funds-from .m-t-30 {
  margin-top: 30px;
}

.kurierchikof-rs-withdrawal-funds-from .m-r-n15 {
  margin-right: -15px;
}

.kurierchikof-rs-withdrawal-funds-from .m-t-10 {
  margin-top: 10px;
}

.kurierchikof-rs-top-menu .m-l-1p {
  margin-left: 3%;
}

.kurierchikof-rs-top-menu .m-l-15 {
  margin-left: 15px;
}

.kurierchikof-rs-top-menu .m-b-5 {
  margin-bottom: 5px;
}

.kurierchikof-rs-top-menu .h-100 {
  height: 100%;
}

.kurierchikof-rs-top-menu .w-100p {
  width: 100%;
}

.kurierchikof-rs-top-menu .w-25p {
  width: 25%;
}

.kurierchikof-rs-top-menu .w-216 {
  width: 216px;
}

.kurierchikof-rs-withdrawal-funds-from .w-225 {
  width: 225px;
}

.kurierchikof-rs-withdrawal-funds-from .w-115 {
  width: 115px;
}

/* reload bootstrap styles */

.kurierchikof-rs-top-menu .navbar-header {
  width: 150px;
}

.kurierchikof-rs-top-menu .navbar-brand {
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.kurierchikof-rs-top-menu .navbar-form {
  margin: 0;
}

.kurierchikof-rs-top-menu .dropdown-menu > li > a:hover,
.kurierchikof-rs-top-menu .dropdown-menu > li > a:focus {
  background-color: transparent !important;
  color: #262626 !important;
}

.kurierchikof-rs-top-menu .navbar-nav {
  margin: 0;
}

.kurierchikof-rs-withdrawal-funds-from .form-group {
  width: 100%;
}

.kurierchikof-rs-withdrawal-funds-from .form-group input {
  border-radius: 0;
  background-color: #fff;
  color: #929594;
  border: none;
  outline: none;
  height: 39px;
  box-shadow: none;
}

.kurierchikof-rs-withdrawal-funds-from .custom-list-wrapper {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 48px;
}

.kurierchikof-rs-withdrawal-funds-from .form-horizontal .form-group {
  margin-bottom: 0;
}

.kurierchikof-rs-withdrawal-funds-from .block-wrapper {
  display: none;
}

.kurierchikof-rs-withdrawal-funds-from .block-wrapper.active {
  display: block;
}

.kurierchikof-rs-withdrawal-funds-from table {
  border-collapse: collapse;
  border-color: #dddddd;
}

.kurierchikof-rs-withdrawal-funds-from table th,
.kurierchikof-rs-withdrawal-funds-from table td {
  width: 16.666%;
  padding-left: 16px !important;
  color: #333333;
}

.kurierchikof-rs-withdrawal-funds-from table th {
  border-right: 1px solid #dddddd;
}

.kurierchikof-rs-withdrawal-funds-from table th:nth-child(n+6),
.kurierchikof-rs-withdrawal-funds-from table td:nth-child(n+6) {
  border-right: none;
}

.kurierchikof-rs-withdrawal-funds-from table thead th {
  background-color: #54af3a;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  vertical-align: text-top;
  padding-top: 13px;
  padding-bottom: 10px;
}

.kurierchikof-rs-withdrawal-funds-from table tbody tr:nth-child(odd) {
  background-color: #fff;
}

.kurierchikof-rs-withdrawal-funds-from table tbody td {
  font-size: 14px;
  font-weight: normal;
  color: #333333;
  line-height: 1.6;
  padding-top: 11px;
  padding-bottom: 13px;
}

@media (min-width: 768px) {
  .kurierchikof-rs-top-menu .custom-big-h-100 {
    height: 100% !important;
  }
}

@media (min-width: 844px) {
  .kurierchikof-rs-top-menu .custom-nav-item:first-child {
    margin-left: 20px;
  }
}

@media (min-width: 1049px) {
  .kurierchikof-rs-withdrawal-funds-from .p-l-b0 {
    padding-left: 0;
  }
}

@media (max-width: 1200px) {
  .kurierchikof-rs-top-menu .container,
  .kurierchikof-rs-withdrawal-funds-from .container {
    width: 100%;
  }
}

@media (max-width: 1049px) {
  .kurierchikof-rs-withdrawal-funds-from .p-l-b0 {
    padding-left: 15px;
  }

  .kurierchikof-rs-withdrawal-funds-from .custom-btn-put {
    margin-top: 15px;
  }
}

@media (max-width: 1044px) {
  .kurierchikof-rs-withdrawal-funds-from .custom-head {
    line-height: 1.2;
  }
}

@media (max-width: 868px) {
  .kurierchikof-rs-withdrawal-funds-from .custom-wrapper-nav-link:first-child > .custom-nav-link {
    margin-left: 0;
    padding-left: 0;
  }

  .kurierchikof-rs-withdrawal-funds-from .nav > li > a:hover,
  .kurierchikof-rs-withdrawal-funds-from .nav > li > a:focus {
    background-color: transparent;
    color: #333;
  }
}

@media (max-width: 768px) {

  .kurierchikof-rs-withdrawal-funds-from {
    padding-bottom: 40px;
  }

  .kurierchikof-rs-withdrawal-funds-from .custom-list-col {
    width: 100%;
  }

  .kurierchikof-rs-withdrawal-funds-from .p-l-b0 {
    padding-left: 0;
  }

  .kurierchikof-rs-withdrawal-funds-from .custom-list-col:last-child {
    margin-left: 0;
  }

  .kurierchikof-rs-withdrawal-funds-from .w-225 {
    width: 100% !important;
  }

  .kurierchikof-rs-withdrawal-funds-from .inner-addon > input {
    width: 100%;
  }

  .kurierchikof-rs-withdrawal-funds-from .w-115 {
    width: 100%;
  }

  .kurierchikof-rs-withdrawal-funds-from .col {
    padding-left: 0;
    padding-right: 0;
  }

  .kurierchikof-rs-withdrawal-funds-from .custom-withdrawal-funds-info {
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .kurierchikof-rs-withdrawal-funds-from .form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
  }

  .kurierchikof-rs-withdrawal-funds-from .p-0 {
    padding: 0;
  }

  .kurierchikof-rs-withdrawal-funds-from .do-small-flex {
    display: flex;
  }

  .kurierchikof-rs-withdrawal-funds-from .do-small-direction-column {
    flex-direction: column;
  }

  .kurierchikof-rs-withdrawal-funds-from .do-small-align-start {
    align-items: flex-start;
  }

  .kurierchikof-rs-withdrawal-funds-from .w-small-100p {
    width: 100%;
  }

  .kurierchikof-rs-top-menu .custom-nav-item {
    margin-bottom: 5px;
  }

  .kurierchikof-rs-top-menu .custom-thrid-line,
  .kurierchikof-rs-top-menu .custom-second-line,
  .kurierchikof-rs-top-menu .custom-first-line {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .kurierchikof-rs-top-menu .custom-first-line {
    margin-top: 25px !important;
  }

  .kurierchikof-rs-top-menu .custom-second-line {
    align-items: flex-start;
  }

  .kurierchikof-rs-top-menu .m-l-1p {
    margin-left: 0;
  }

  .kurierchikof-rs-top-menu .w-216 {
    width: auto;
  }

  .kurierchikof-rs-top-menu .custom-m-t-10 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }

  .kurierchikof-rs-top-menu .custom-small-h100 {
    height: 100% !important;
  }

  .kurierchikof-rs-top-menu .custom-align-btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .kurierchikof-rs-top-menu .h-100 {
    height: auto;
  }

  .kurierchikof-rs-top-menu .navbar-collapse {
    background-color: #fff;
  }

  .kurierchikof-rs-top-menu .navbar-default .navbar-collapse,
  .kurierchikof-rs-top-menu .navbar-default .navbar-form {
    border-color: transparent !important;
  }
}

@media (max-width: 468px) {
  .kurierchikof-rs-withdrawal-funds-from .custom-wrapper-nav-link > .custom-nav-link {
    padding-left: 0;
  }
}

@media (max-width: 410px) {
  .kurierchikof-rs-withdrawal-funds-from .do-vsmall-direction-column {
    flex-direction: column;
  }

  .kurierchikof-rs-withdrawal-funds-from .do-vsmall-align-start {
    align-items: flex-start !important;
  }

  .kurierchikof-rs-withdrawal-funds-from .custom-nav-link {
    text-align: left;
  }
}

@media (max-width: 380px) {
  .kurierchikof-rs-withdrawal-funds-from .custom-head {
    font-size: 25px;
  }
}

@media (max-width: 360px) {
  .kurierchikof-rs-withdrawal-funds-from .custom-wrapper-nav-link > .custom-nav-link {
    padding-right: 5px;
  }
}