@font-face {
  font-family: 'Myriad Pro Regular';
  src: url('../fonts/MyriadPro-Regular.eot');
  src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MyriadPro-Regular.woff') format('woff'),
  url('../fonts/MyriadPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }
  
  @font-face {
    font-family: 'Open Sans Regular';
    src: url('../fonts/OpenSans-Regular.eot');
    src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSans-Regular.woff') format('woff'),
    url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  .kurierchikof-rs-top-menu button:active,
  .kurierchikof-rs-bonus-program-form button:active, 
  .kurierchikof-rs-top-menu button:focus,
  .kurierchikof-rs-bonus-program-form button:active{
    outline: none !important;
    box-shadow: none !important;
  }
  
  .kurierchikof-rs-top-menu button::-moz-focus-inner,
  .kurierchikof-rs-bonus-program-form button::-moz-focus-inner {
    border: 0 !important;
    box-shadow: none !important;
  }
  
  .kurierchikof-rs-top-menu button:active,
  .kurierchikof-rs-bonus-program-form button:active, 
  .kurierchikof-rs-top-menu button:focus,
  .kurierchikof-rs-bonus-program-form button:active{
    outline: none !important;
    box-shadow: none !important;
  }
  
  .kurierchikof-rs-top-menu button::-moz-focus-inner,
  .kurierchikof-rs-bonus-program-form button::-moz-focus-inner {
    border: 0 !important;
    box-shadow: none !important;
  }
  
  .kurierchikof-rs-top-menu p,
  .kurierchikof-rs-top-menu h1,
  .kurierchikof-rs-top-menu h2,
  .kurierchikof-rs-top-menu h3,
  .kurierchikof-rs-top-menu h4,
  .kurierchikof-rs-top-menu h5,
  .kurierchikof-rs-top-menu h6,
  .kurierchikof-rs-top-menu a,
  .kurierchikof-rs-top-menu button,
  .kurierchikof-rs-top-menu div,
  .kurierchikof-rs-top-menu span,
  .kurierchikof-rs-bonus-program-form p,
  .kurierchikof-rs-bonus-program-form h1,
  .kurierchikof-rs-bonus-program-form h2,
  .kurierchikof-rs-bonus-program-form h3,
  .kurierchikof-rs-bonus-program-form h4,
  .kurierchikof-rs-bonus-program-form h5,
  .kurierchikof-rs-bonus-program-form h6,
  .kurierchikof-rs-bonus-program-form a,
  .kurierchikof-rs-bonus-program-form button,
  .kurierchikof-rs-bonus-program-form div,
  .kurierchikof-rs-bonus-program-form span{
    font-family: 'Open Sans Regular', sans-serif;
  }
  
  /* custom classes */
  
  .kurierchikof-rs-archive-form a,
  .kurierchikof-rs-archive-form a:hover {
    text-decoration: none;
  }

/* .kurierchikof-rs-bonus-program-form */

.kurierchikof-rs-bonus-program-form {
  padding-top: 50px;
  padding-bottom: 351px;
  background-color: #f4f8f7;
}

.kurierchikof-rs-bonus-program-form .custom-block-header {
  border-bottom: 1px solid #ebebeb;
  padding-bottom: 9px;
  width: 100%;
}

.kurierchikof-rs-bonus-program-form .custom-head {
  font-size: 35px;
  color: rgb(66, 66, 66);
  line-height: 0.571;
  text-align: left;
  margin-top: 0;
}

.kurierchikof-rs-bonus-program-form .custom-bonus-info-list-head {
  font-size: 18px;
  font-family: 'Myriad Pro', sans-serif;
  color: #424242;
  font-weight: bold;
}

.kurierchikof-rs-bonus-program-form .custom-bonus-info-list {
  padding-left: 0;
}

.kurierchikof-rs-bonus-program-form .custom-bonus-list-item {
  font-size: 14px;
  color: #424242;
  line-height: 1.6;
  margin-bottom: 7px;
}

.kurierchikof-rs-bonus-program-form .custom-list-wrapper {
  width: 100%;
}

.kurierchikof-rs-bonus-program-form .custom-list-col {
  padding-left: 15px;
  width: 50%;
}

.kurierchikof-rs-bonus-program-form .custom-list-col:last-child {
  margin-left: 30px;
}

.kurierchikof-rs-bonus-program-form .custom-bonus-list-edit-date {
  font-size: 14px;
  color: #929594;
  margin-left: -15px;
  margin-top: 17px;
}

.kurierchikof-rs-bonus-program-form.m-t-n18 {
  margin-top: -18px;
}

.kurierchikof-rs-bonus-program-form .m-t-20 {
  margin-top: 20px;
}

.kurierchikof-rs-bonus-program-form .m-b-20 {
  margin-bottom: 10px;
}

/* kurierchikof-rs-top-menu --*/

.kurierchikof-rs-top-menu .no-word-wrap {
  white-space: nowrap;
}

.kurierchikof-rs-top-menu .custom-nav {
  height: 70px;
  box-shadow: 0px 2px 7.6px 0.4px rgba(0, 0, 0, 0.09);
  background-color: #fff;
}

.kurierchikof-rs-top-menu .custom-nav-item {
  color: rgb(146, 149, 148);
  text-align: left;
  height: 100%;
  font-size: 16px;
  color: rgb(146, 149, 148);
  line-height: 1.25;
  border-bottom: 3px solid transparent;
}

.kurierchikof-rs-top-menu .custom-nav-item:last-child{
  margin-left: 14px;
}

.kurierchikof-rs-top-menu .custom-nav-link {
  height: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  font-weight: 400;
}

.kurierchikof-rs-top-menu .custom-btn-create-order {
  background-color: #fff200;
  color: #444444;
  font-size: 16px;
  letter-spacing: .053em;
  padding: 6px 25px;
  
}

.kurierchikof-rs-top-menu .custom-btn-cog {
  outline: none;
  border: none;
  background-color: transparent;
  margin-left: 25px;
  margin-right: 15px;
}

.kurierchikof-rs-top-menu .custom-question-icon {
  position: absolute;
  top: -20px;
  right: -1px;
  color: #54af3a;
  font-size: 15px;
  text-shadow: -2px 2px 2px #fff;
}

.kurierchikof-rs-top-menu .custom-fas-wrapper {
  position: relative;
}

.kurierchikof-rs-top-menu .custom-cog-color {
  color: #e0e0e0;
  font-size: 30px;
}

.kurierchikof-rs-top-menu .custom-btn-img {
  border-radius: 50%;
  border: 4px solid #ebebeb;
  width: 44px;
  height: 44px;
  margin-right: 9px;
}

.kurierchikof-rs-top-menu .custom-btn-img > img {
  display: block;
  width: 100%;
  height: auto;
}

.kurierchikof-rs-top-menu .custom-btn-head {
  font-size: 16px;
  color: #424242;
  margin-bottom: 0;
  margin-top: 13px;
}

.kurierchikof-rs-top-menu .custom-btn-caption {
  font-size: 12px;
  color: #929594;
}

.kurierchikof-rs-top-menu .custom-nav-btn-link {
  width: 100%;
  height: 100%;
  padding: 0 !important;
}

.kurierchikof-rs-top-menu .custom-nav-btn-link:active,
.kurierchikof-rs-top-menu .custom-nav-btn-link:focus{
  background-color: #fff;
}

.kurierchikof-rs-top-menu .custom-nav-btn-link:hover,
.kurierchikof-rs-top-menu .custom-nav-btn-link:focus {
  color: #777 !important;
}

.kurierchikof-rs-top-menu .custom-dropdown {
  box-shadow: 0px 2px 7.6px 0.4px rgba(0, 0, 0, 0.09);
  border: none !important;
  padding-left: 15px;
  padding-right: 15px;
  left: -39px !important;
  min-width: 222px; 
}

.kurierchikof-rs-top-menu .custom-dropdown::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 7px;box-shadow: 0px 7.6px 7.6px -3.9px rgba(0, 0, 0, 0.09) inset;
}

.kurierchikof-rs-top-menu .custom-dropdown .fa-li{
  left: 0 !important;
}

.kurierchikof-rs-top-menu .custom-dropdown-link {
  font-size: 14px;
  color: #929594 !important;
  text-align: left;
  padding-left: 0 !important;
  padding-right: 0 !important;
  transition: color .3s;
  text-align: left;
  margin-bottom: 4px;
}

.kurierchikof-rs-top-menu .custom-dropdown-link .fas{
  margin-left: -4px;
}

.kurierchikof-rs-top-menu .p-0 {
  padding: 0 !important;
}

.kurierchikof-rs-top-menu .custom-dropdown-comment {
  font-size: 13px;
  color: rgb(66, 66, 66);
  line-height: 1.308;
  margin-bottom: 0px;
}

.kurierchikof-rs-top-menu .custom-dropdown-comment:first-child {
  margin-top: 11px;
}

.kurierchikof-rs-top-menu .custom-dropdown-comment:last-child {
  margin-bottom: 3px;
}

.kurierchikof-rs-top-menu .custom-dropdown-bonuce {
  margin-left: 28px;
}

.kurierchikof-rs-top-menu .m-l-1p {
  margin-left: 3%;
}

.kurierchikof-rs-top-menu .m-l-15 {
  margin-left: 15px;
}

.kurierchikof-rs-top-menu .m-b-5 {
  margin-bottom: 5px;
}

.kurierchikof-rs-top-menu .h-100 {
  height: 100%;
}

.kurierchikof-rs-top-menu .w-100p {
  width: 100%;
}

.kurierchikof-rs-top-menu .dropdown-menu .divider{
  margin-bottom: 6px;
}

.kurierchikof-rs-top-menu .navbar-header {
  width: 150px;
}

.kurierchikof-rs-top-menu .navbar-brand {
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  height: 100%;
}

.kurierchikof-rs-top-menu .navbar-form {
  margin: 0;
}

.kurierchikof-rs-top-menu .dropdown-menu > li > a:hover,
.kurierchikof-rs-top-menu .dropdown-menu > li > a:focus {
  background-color: transparent !important;
  color: #262626 !important;
}

.kurierchikof-rs-top-menu .navbar-nav {
  margin: 0;
}

.kurierchikof-rs-top-menu .navbar-default .navbar-nav > .open > a, 
.kurierchikof-rs-top-menu .navbar-default .navbar-nav > .open > a:hover, 
.kurierchikof-rs-top-menu .navbar-default .navbar-nav > .open > a:focus{
  background-color: #fff;
}


/* common styles */

.kurierchikof-rs-top-menu .do-flex,
.kurierchikof-rs-bonus-program-form .do-flex {
  display: flex !important;
}

.kurierchikof-rs-bonus-program-form .do-direction-column,
.kurierchikof-rs-top-menu .do-direction-column {
  flex-direction: column;
}

.kurierchikof-rs-top-menu .do-no-wrap {
  flex-wrap: nowrap;
}

.kurierchikof-rs-bonus-program-form .do-justify-space-between {
  justify-content: space-between;
}

.kurierchikof-rs-top-menu .do-justify-end {
  justify-content: flex-end;
}

.kurierchikof-rs-top-menu .do-align-center {
  align-items: center;
}

.kurierchikof-rs-top-menu .do-align-start {
  align-items: flex-start;
}


/* media styles */


@media (min-width: 768px) {
  .kurierchikof-rs-top-menu .custom-big-h-100 {
    height: 100% !important;
  }
}

@media (min-width: 844px) {
  .kurierchikof-rs-top-menu .custom-nav-item:first-child {
    margin-left: 20px;
  }
}

@media (max-width: 1200px) {
  .kurierchikof-rs-top-menu .container,
  .kurierchikof-rs-bonus-program-form .container {
    width: 100%;
  }
}

@media (max-width: 880px) {
  /* menu */
  .kurierchikof-rs-top-menu .custom-nav-item > a{
    padding-left: 0;
  }

  .kurierchikof-rs-top-menu .custom-nav-item:last-child{
    margin-left: 0;
  }

  .kurierchikof-rs-top-menu .custom-btn-cog{
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 800px) {
  /* menu */
  .kurierchikof-rs-top-menu .custom-nav-link{
    font-size: 14px;
  }

  .kurierchikof-rs-top-menu .custom-btn-create-order{
    font-size: 14px !important;
  }  
}

@media (max-width: 767px) {

  /* menu */
  /* menu */
  .kurierchikof-rs-top-menu .custom-dropdown::before{
    display: none;
  }

  .kurierchikof-rs-top-menu .custom-nav-link{
    padding-left: 15px !important;
    font-size: 16px;
  }

  .kurierchikof-rs-top-menu .custom-dropdown{
    width: 95% !important;
    box-shadow: none !important;
  }

  .kurierchikof-rs-top-menu .container > .navbar-collapse{

    margin-left: 0;
    margin-right: 0;
  }

  .kurierchikof-rs-top-menu .container{
    padding-left: 0;
    padding-right: 0;
  }

  .kurierchikof-rs-top-menu .pull-left{
    margin-left: 15px;
  }

  .kurierchikof-rs-top-menu .pull-right{
    margin-right: 15px;
  }

  .kurierchikof-rs-top-menu .container > .navbar-collapse::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 7px;
    box-shadow: 0px 7.6px 7.6px -3.9px rgba(0, 0, 0, 0.09) inset;
  }

  .kurierchikof-rs-top-menu .fa-ul {
    margin-left: 0 !important;
  }

  .kurierchikof-rs-top-menu .custom-thrid-line,
  .kurierchikof-rs-top-menu .custom-second-line,
  .kurierchikof-rs-top-menu .custom-first-line {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .kurierchikof-rs-top-menu .custom-second-line,
  .kurierchikof-rs-top-menu .custom-first-line {
    margin-left: 15px;
  }

  .kurierchikof-rs-top-menu .custom-first-line {
    margin-top: 25px !important;
  }

  .kurierchikof-rs-top-menu .custom-second-line {
    align-items: flex-start;
  }

  .kurierchikof-rs-top-menu .m-l-1p {
    margin-left: 0;
  }

  .kurierchikof-rs-top-menu .custom-m-t-10 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }

  .kurierchikof-rs-top-menu .custom-small-h100 {
    height: 100% !important;
  }

  .kurierchikof-rs-top-menu .custom-align-btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .kurierchikof-rs-top-menu .h-100 {
    height: auto;
  }

  .kurierchikof-rs-top-menu .navbar-collapse {
    background-color: #fff;
  }

  .kurierchikof-rs-top-menu .navbar-default .navbar-collapse,
  .kurierchikof-rs-top-menu .navbar-default .navbar-form {
    border-color: transparent !important;
  }

  /* bonus */
  .kurierchikof-rs-bonus-program-form{
    padding-bottom: 40px;
  }
  .kurierchikof-rs-bonus-program-form .custom-list-col {
    width: 100% !important;
  }

  .kurierchikof-rs-bonus-program-form .do-small-direction-column {
    flex-direction: column;
  }

  .kurierchikof-rs-bonus-program-form .custom-list-col:last-child {
    margin-left: 0 !important;
  }

  .kurierchikof-rs-bonus-program-form .custom-list-col:first-child .custom-bonus-info-list {
    margin-bottom: 0;
  }
}

@media (max-width: 380px) {
  .kurierchikof-rs-bonus-program-form .custom-head {
    font-size: 25px;
  }
}